In [25]:
#Dataset uploading
import pandas as pd

# /content/raw_data.csv
file_path = '/content/train.csv'

# Data Loading using Pandas
df = pd.read_csv(file_path)

In [26]:
#Data set preview
df.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49

In [27]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  5847.000000  5847.000000       5.847000e+03  5809.000000  5847.000000
mean   3013.181461  2013.448435       5.841013e+04     5.286452     9.653742
std    1736.398890     3.194949       9.237971e+04     0.806668    11.275966
min       1.000000  1998.000000       1.710000e+02     2.000000     0.440000
25%    1509.500000  2012.000000       3.346750e+04     5.000000     3.550000
50%    3015.000000  2014.000000       5.257600e+04     5.000000     5.750000
75%    4517.500000  2016.000000       7.249050e+04     5.000000    10.250000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [28]:
clean_data = df.copy()
cd = pd.DataFrame(df)
cd.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

#In the given data we can see many unit values like kmpl , CC , bhp for columns like mileage , Power except , Engine ,  we will now extract the decimals for the columns.

In [29]:
cd['Mileage'] =  cd['Mileage'].str.extract('(\d+\.\d+)').astype(float)
cd['Engine'] =  cd['Engine'].str.replace(' CC', '').astype(float)
cd['Power'] =  cd['Power'].str.extract('(\d+\.\d+)').astype(float)
cd['New_Price'] =  cd['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [30]:
cd.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,NaN,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,NaN,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,10.65,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,NaN,4.49

#now we can see data without units the data consists of numerical or alphabets

In [31]:
# checking for missing values.
missing_values = cd.isnull().sum()
print("Missing Values count :")
print(missing_values)

Missing Values count :
Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 3
Engine                 36
Power                2212
Seats                  38
New_Price            5046
Price                   0
dtype: int64

#there are certain fields which contains null values , those can be replaced them with the mean or medians

In [32]:
#for numerical values , replacing missing values with mean
cd['Mileage'].fillna(cd['Mileage'].mean(), inplace=True)
cd['Engine'].fillna(cd['Engine'].mean(), inplace=True)
cd['Power'].fillna(cd['Power'].mean(), inplace=True)
cd['Seats'].fillna(cd['Seats'].mean(), inplace=True)
cd['New_Price'].fillna(cd['New_Price'].mean(), inplace=True)

#for categorical values , replacing missing values with mean
cd['Location'].fillna(cd['Location'].mode()[0], inplace=True)
cd['Fuel_Type'].fillna(cd['Fuel_Type'].mode()[0], inplace=True)
cd['Transmission'].fillna(cd['Transmission'].mode()[0], inplace=True)

<ipython-input-32-a19cceea8a12>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Mileage'].fillna(cd['Mileage'].mean(), inplace=True)
<ipython-input-32-a19cceea8a12>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Engine'].fillna(cd['Engine'].mean(), inplace=True)
<ipython-input-32-a19cceea8a12>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Power'].fillna(cd['Power'].mean(), inplace=True)
<ipython-input-32-a19cceea8a12>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Seats'].fillna(cd['Seats'].mean(), inplace=True)
<ipython-input-32-a19cceea8a12>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['New_Price'].fillna(cd['New_Price'].mean(), inplace=True)
<ipython-input-32-a19cceea8a12>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Location'].fillna(cd['Location'].mode()[0], inplace=True)
<ipython-input-32-a19cceea8a12>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Fuel_Type'].fillna(cd['Fuel_Type'].mode()[0], inplace=True)
<ipython-input-32-a19cceea8a12>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cd['Transmission'].fillna(cd['Transmission'].mode()[0], inplace=True)

In [33]:
cd['Power'] = cd['Power'].round(2)
cd['New_Price'] = cd['New_Price'].round(2)
cd['Mileage'] = cd['Mileage'].round(2)


cd.to_csv('cleaned_dataset.csv', index=False)

In [34]:
missing_values = cd.isnull().sum()
print("Missing Values count After ")
print(missing_values)

Missing Values count After
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

In [35]:
#Convert Categorical Variables into One-Hot Encoded Values
cd1 = pd.get_dummies(cd, columns=['Fuel_Type', 'Transmission'], drop_first=True)

cd1.head(10)

cd1.to_csv('cd1.csv',index=False)

In [36]:
# Create a New Feature (Current Age of the Car):

current_year = 2024  # Current year
cd1['Current_Age'] = current_year - cd1['Year']

In [37]:
cd.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,20.54,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.16,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,20.54,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,20.54,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,20.54,3.50

In [38]:
# Selecting the specific columns
selected_df = cd[['Name', 'Fuel_Type', 'Engine']]
print(selected_df)

                                  Name Fuel_Type  Engine
0     Hyundai Creta 1.6 CRDi SX Option    Diesel  1582.0
1                         Honda Jazz V    Petrol  1199.0
2                    Maruti Ertiga VDI    Diesel  1248.0
3      Audi A4 New 2.0 TDI Multitronic    Diesel  1968.0
4               Nissan Micra Diesel XV    Diesel  1461.0
...                                ...       ...     ...
5842                  Maruti Swift VDI    Diesel  1248.0
5843          Hyundai Xcent 1.1 CRDi S    Diesel  1120.0
5844             Mahindra Xylo D4 BSIV    Diesel  2498.0
5845                Maruti Wagon R VXI    Petrol   998.0
5846             Chevrolet Beat Diesel    Diesel   936.0

[5847 rows x 3 columns]

In [39]:
# Filtering the data based on conditions
filtered = cd1[cd['Fuel_Type'] == 'Petrol']
print(filtered)

      Unnamed: 0                                  Name    Location  Year  \
1              2                          Honda Jazz V     Chennai  2011
8             10                      Maruti Ciaz Zeta       Kochi  2018
9             11           Honda City 1.5 V AT Sunroof     Kolkata  2012
20            22  Audi A6 2011-2015 35 TFSI Technology      Mumbai  2015
21            23                 Hyundai i20 1.2 Magna     Kolkata  2010
...          ...                                   ...         ...   ...
5832        6004                      Hyundai Getz GLE  Coimbatore  2007
5837        6009                   Toyota Camry Hybrid      Mumbai  2015
5838        6010                  Honda Brio 1.2 VX MT       Delhi  2013
5839        6011               Skoda Superb 3.6 V6 FSI   Hyderabad  2009
5845        6017                    Maruti Wagon R VXI     Kolkata  2013

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
1                 46000      First    18.16  1199.0   88.70    5.0       8.61
8                 25692      First    21.56  1462.0  103.25    5.0      10.65
9                 60000      First    16.80  1497.0  116.30    5.0      20.54
20                55985      First    13.53  1984.0  177.01    5.0      20.54
21                45807      First    18.50  1197.0  107.35    5.0      20.54
...                 ...        ...      ...     ...     ...    ...        ...
5832              66800      First    15.30  1341.0  107.35    5.0      20.54
5837              33500      First    19.16  2494.0  158.20    5.0      20.54
5838              33746      First    18.50  1198.0   86.80    5.0       6.63
5839              53000      First     0.00  3597.0  262.60    5.0      20.54
5845              46000      First    18.90   998.0   67.10    5.0      20.54

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
1      4.50               False              True                 True
8      9.95               False              True                 True
9      4.49               False              True                False
20    23.50               False              True                False
21     1.87               False              True                 True
...     ...                 ...               ...                  ...
5832   2.20               False              True                 True
5837  19.75               False              True                False
5838   3.20               False              True                 True
5839   4.75               False              True                False
5845   2.65               False              True                 True

      Current_Age
1              13
8               6
9              12
20              9
21             14
...           ...
5832           17
5837            9
5838           11
5839           15
5845           11

[2684 rows x 16 columns]

In [40]:
renamed = cd1.rename(columns={'Transmission': 'Transmission_Type', 'Seats': 'Seats_No'})
print(renamed)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats_No  \
0                 41000      First    19.67  1582.0  126.20       5.0
1                 46000      First    18.16  1199.0   88.70       5.0
2                 87000      First    20.77  1248.0   88.76       7.0
3                 40670     Second    15.20  1968.0  140.80       5.0
4                 86999      First    23.08  1461.0   63.10       5.0
...                 ...        ...      ...     ...     ...       ...
5842              27365      First    28.40  1248.0  107.35       5.0
5843             100000      First    24.40  1120.0  107.35       5.0
5844              55000     Second    14.00  2498.0  107.35       8.0
5845              46000      First    18.90   998.0   67.10       5.0
5846              47000      First    25.44   936.0   57.60       5.0

      New_Price  Price  Fuel_Type_Electric  Fuel_Type_Petrol  \
0         20.54  12.50               False             False
1          8.61   4.50               False              True
2         20.54   6.00               False             False
3         20.54  17.74               False             False
4         20.54   3.50               False             False
...         ...    ...                 ...               ...
5842       7.88   4.75               False             False
5843      20.54   4.00               False             False
5844      20.54   2.90               False             False
5845      20.54   2.65               False              True
5846      20.54   2.50               False             False

      Transmission_Manual  Current_Age
0                    True            9
1                    True           13
2                    True           12
3                   False           11
4                    True           11
...                   ...          ...
5842                 True           10
5843                 True            9
5844                 True           12
5845                 True           11
5846                 True           13

[5847 rows x 16 columns]

In [41]:
# Mutating data (creating a new calculated column)
cd1['Price_Category'] = pd.cut(cd1['Price'], bins=[0, 5, 10, 15, 20, float('inf')], labels=['0-5', '5-10', '10-15', '15-20', '20+'])
print(cd1)

cd1.head(5)

      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0      20.54
1                 46000      First    18.16  1199.0   88.70    5.0       8.61
2                 87000      First    20.77  1248.0   88.76    7.0      20.54
3                 40670     Second    15.20  1968.0  140.80    5.0      20.54
4                 86999      First    23.08  1461.0   63.10    5.0      20.54
...                 ...        ...      ...     ...     ...    ...        ...
5842              27365      First    28.40  1248.0  107.35    5.0       7.88
5843             100000      First    24.40  1120.0  107.35    5.0      20.54
5844              55000     Second    14.00  2498.0  107.35    8.0      20.54
5845              46000      First    18.90   998.0   67.10    5.0      20.54
5846              47000      First    25.44   936.0   57.60    5.0      20.54

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
0     12.50               False             False                 True
1      4.50               False              True                 True
2      6.00               False             False                 True
3     17.74               False             False                False
4      3.50               False             False                 True
...     ...                 ...               ...                  ...
5842   4.75               False             False                 True
5843   4.00               False             False                 True
5844   2.90               False             False                 True
5845   2.65               False              True                 True
5846   2.50               False             False                 True

      Current_Age Price_Category
0               9          10-15
1              13            0-5
2              12           5-10
3              11          15-20
4              11            0-5
...           ...            ...
5842           10            0-5
5843            9            0-5
5844           12            0-5
5845           11            0-5
5846           13            0-5

[5847 rows x 17 columns]

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual,Current_Age,Price_Category
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,20.54,12.50,False,False,True,9,10-15
1,2,Honda Jazz V,Chennai,2011,46000,First,18.16,1199.0,88.70,5.0,8.61,4.50,False,True,True,13,0-5
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,20.54,6.00,False,False,True,12,5-10
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,20.54,17.74,False,False,False,11,15-20
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,20.54,3.50,False,False,True,11,0-5

In [42]:
# Arrange the data
arranged = cd1.sort_values(by='Price', ascending=False)
print(arranged)

      Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore
...          ...                                          ...         ...
3127        3228                               Maruti 800 Std        Pune
2758        2847                             Hyundai Getz GLS        Pune
3039        3138                               Maruti Zen LXI      Jaipur
1577        1628                         Maruti 800 Std BSIII      Jaipur
1660        1713                                 Tata Nano Lx        Pune

      Year  Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  \
3952  2017              25000      First    13.33  2993.0  107.35    5.0
5620  2011               6500      Third     6.40  5204.0  107.35    2.0
5752  2015               8000      First    12.50  5000.0  488.10    2.0
1457  2019              26013      First    12.65  2993.0  107.35    5.0
1917  2018              28060      First    12.05  2979.0  107.35    5.0
...    ...                ...        ...      ...     ...     ...    ...
3127  2003              52000      First    16.10   796.0  107.35    4.0
2758  2005              86000     Second    15.30  1341.0  107.35    5.0
3039  1998              95150      Third    17.30   993.0  107.35    5.0
1577  2004              12000     Second    16.10   796.0  107.35    4.0
1660  2011              65000     Second    26.00   624.0  107.35    4.0

      New_Price   Price  Fuel_Type_Electric  Fuel_Type_Petrol  \
3952       2.30  160.00               False             False
5620      20.54  120.00               False              True
5752      20.54  100.00               False              True
1457       1.39   97.07               False             False
1917      20.54   93.67               False              True
...         ...     ...                 ...               ...
3127      20.54    0.50               False              True
2758      20.54    0.45               False              True
3039      20.54    0.45               False              True
1577      20.54    0.45               False              True
1660      20.54    0.44               False              True

      Transmission_Manual  Current_Age Price_Category
3952                False            7            20+
5620                False           13            20+
5752                False            9            20+
1457                False            5            20+
1917                False            6            20+
...                   ...          ...            ...
3127                 True           21            0-5
2758                 True           19            0-5
3039                 True           26            0-5
1577                 True           20            0-5
1660                 True           13            0-5

[5847 rows x 17 columns]

In [43]:
# Summarizing with group by operations
summary = cd1.groupby('Name').agg({'Price': 'mean', 'Mileage': 'median'})

print(summary)

                                    Price  Mileage
Name
Ambassador Classic Nova Diesel   1.350000    12.80
Audi A3 35 TDI Attraction       16.500000    20.38
Audi A3 35 TDI Premium          19.250000    20.38
Audi A3 35 TDI Premium Plus     18.900000    20.38
Audi A3 35 TDI Technology       22.500000    20.38
...                                   ...      ...
Volvo XC60 D4 Summum            18.250000    14.70
Volvo XC60 D5                   19.433333    13.50
Volvo XC60 D5 Inscription       17.180000    11.20
Volvo XC90 2007-2015 D5 AT AWD  23.580000    11.10
Volvo XC90 2007-2015 D5 AWD     23.650000    11.10

[1804 rows x 2 columns]